.git
.venv
venv
**/__pycache__
**/*.py[cod]
.env
.env.*
.DS_Store
mlflow.db*
mlruns
mlartifacts
logs
data/uploads/*
serving_app/models/*
serving_app/monitoring/drift_threshold.json
frontend
node_modules
artifacts
docs
tests
