# OS
.DS_Store
__MACOSX/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# 환경 변수 (API 키 등)
.env
.env.*

# 실행하면 생기는 파일
mlruns/
mlartifacts/
mlflow.db
logs/
data/uploads/*
!data/uploads/.gitkeep
serving_app/models/*
!serving_app/models/.gitkeep
